@use "var" as *;
@mixin projects {
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    article {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 1rem;
      gap: 2rem;
      border-radius: 5px;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      > * {
        flex: 1 0;
        min-width: min(100%, 300px);
      }
      .about {
        * {
          font-size: clamp(1rem, 1.5vw, 2rem);
        }
        h4 {
          font-size: 1.7rem;
          font-size: clamp(1.3rem, 1.4vw, 1.7rem);

          margin: 0 auto 1rem;
          text-align: center;
        }
        h5 {
          font-size: clamp(1rem, 1.3vw, 1.5rem);

          margin: 0;
        }
        ul {
          margin: 0;
        }
        .stack {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 0.3rem;
          padding: 0;
          margin: 0;
          li {
            font-size: 0.9rem;
            border-radius: 50px;
            padding: 0.3rem 1rem;
            background-color: rgba($color: #000000, $alpha: 0.1);
          }
        }
        .project-links {
          display: flex;
          justify-content: center;
          gap: 1rem;
          padding-top: 0.5rem;
          a {
            text-decoration: none;
            background-color: rgba($color: $primary, $alpha: 0.8);
            display: flex;
            align-items: center;
            padding: 0.4rem 1rem;
            border-radius: 50px;
            gap: 0.5rem;
            transition: 0.2s;
            &:hover {
              background-color: $primary;
            }
            span {
              font-size: clamp(1rem, 1.4vw, 1.7rem);

              color: map-get($map: $theme-colors, $key: "bg-l");
            }
            img {
              transition: 0.5s filter linear, 0.5s -webkit-filter linear;
              width: 1em;
            }
          }
        }
      }
      .demos {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;

        img {
          height: 100%;
          width: 100%;
          border-radius: 3px;
          object-fit: cover;
        }
        a:first-child {
          width: 100%;
        }

        a:not(:first-child) {
          flex: 1;
        }
      }
    }
  }
  .show-more-projects {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    gap: 0.3rem;
    background-color: $primary;
    border-radius: 5px;
    text-decoration: none;
    span {
      color: map-get($map: $theme-colors, $key: "text-d");
    }
    img {
      width: 2.5rem;
      filter: invert(0.9);
    }
    .arrow {
      transition: font-size 0.3s;
    }

    &:hover {
      .arrow {
        font-size: 2rem;
      }
    }
  }
}
