@use "normalize.scss";
@use "var" as *;
@use "theme" as *;
@use "page-header" as *;
@use "waves" as *;
@use "home" as *;
@use "about" as *;
@use "skills" as *;
@use "projects" as *;
@use "contact" as *;

@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Overlock&display=swap");

html {
  @extend .normalize;
  scroll-behavior: smooth;
}
* {
  transition: color 0.5s linear;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
body {
  margin: 0;
  font-family: "Baloo Thambi 2", sans-serif;

  @include waves;
  .page-header {
    @include page-header;
  }
  main {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    > section {
      position: relative;
      padding: 1em;
      h3 {
        font-size: clamp(2rem, 3vw, 6rem);
      }
      &:nth-child(even) {
        margin: 50px 0;
      }
    }
    #home {
      @include home;
    }
    #about {
      @include about;
    }
    #skills {
      @include skills;
    }
    #projects {
      @include projects;
    }
    #contact {
      @include contact;
    }
  }
}
.hidden {
  &,
  > * {
    transition: all 1s;
    opacity: 0;
  }
  filter: blur(2px);
  transform: translateY(40%);
  @media (prefers-reduced-motion) {
    transition: none;
  }
}
.from-left {
  transform: translateX(-20%);
}
.from-right {
  transform: translateX(20%);
}
.from-left-long {
  transform: translateX(-100%);
}
.from-right-long {
  transform: translateX(100%);
}
.animate-cards {
  transform: translate(0);
  li {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transform: translateX(-100% * $i);
        transition-delay: calc(20ms * $i);
      }
    }
  }
}
.animate-cards-right {
  flex-direction: row-reverse !important;
  li {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transform: translateX(100% * $i);
        transition-delay: calc(20ms * $i);
      }
    }
  }
}

.show {
  overflow: initial;
  &,
  * {
    filter: blur(0);
    opacity: 1;
    transform: translate(0) !important;
  }
}

.dark-mode {
  @include mode(d);
}
.light-mode {
  @include mode(l);
}
@media (prefers-color-scheme: dark) {
  body {
    @include mode(d);
  }
}
